#card .container .row .left-box .slick-slider .slick-list .slick-slide .img-box {
  position: relative;
  border: 1px solid orange;
  max-width: 466px;
  max-height: 600px;
}
#card .container .row .left-box .slick-slider .slick-list .slick-slide .img-box img {
  width: 100%;
  height: auto;
}
#card .container .row .left-box .slider-nav .slick-list .slick-slide .img-box {
  position: relative;
  border: 1px solid orange;
  max-width: 100px;
  max-height: 132px;
}
#card .container .row .left-box .slider-nav .slick-list .slick-slide .img-box img {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=card.css.map */