@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
  url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProItalic";
  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
  url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProSemiBold";
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
  url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProBoldItalic";
  src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
  src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
  url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProSemiBoldItalic";
  src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
  src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
  url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

// Bootstrap library.
@import 'bootstrap';

* {
  outline: none;
}


#blog{
  font-family: "Myriad Pro", Serif;
  .container {
    .navBlog {
      .navBlog-text {
        list-style-type: none;
        word-spacing: 20px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 40px;
        font-size: 16px;
        color: #747474;
        letter-spacing: 1px;
        li {
          display: inline;
        }
        a {
          text-decoration: none;
          color: #747474;
          -webkit-transition: 0.35s;
          -o-transition: 0.35s;
          transition: 0.35s;
        }
        a:active {
          color: #000;
          -webkit-transition: 0.35s;
          -o-transition: 0.35s;
          transition: 0.15s;
        }
      }
      //navBlog-text ending
    }


    //navBlog ending
    .category-block {
      display: flex;
      justify-content: space-between;
      padding: 0 15px 30px 15px;
      > div {
        display: inline-block;
      }
      .blog-select-filter {
        display: inline-block;
        padding-top: 4px;
        #blog-select {
          display: inline-block;
          width: 135px;
          height: 26px;
          padding: 4px 11px;
          border: 1px solid;
          option {
            color: #000;
          }
          //option ending
        }
        //blog-select ending
        .block-select-filter-text {
          font-weight: 400;
          font-size: 16px;
          padding-right: 10px;
        }
      }
      //blog-select-filter ending


    .nav-button {
      .nav-button-1 {
        background-color: #fff;
        border: 1px solid;
        border-radius: 5px;
        width: 120px;
        height: 26px;
        margin-left: 85px;
        text-transform: uppercase;
        padding-top: 3px;
        font-size: 13px;
        &:active {
          border: 1px solid #d6003e;
          color: #d6003e;
        }
      }
      .nav-button-2 {
        background-color: #fff;
        border: 1px solid;
        border-radius: 5px;
        width: 120px;
        height: 26px;
        margin: 5px 20px;
        text-transform: uppercase;
        padding-top: 3px;
        font-size: 13px;
        &:active {
          border: 1px solid #d6003e;
          color: #d6003e;
        }
      }
      //nav-button-2 ending
      .nav-button-3 {
        background-color: #fff;
        border: 1px solid;
        border-radius: 5px;
        width: 120px;
        height: 26px;
        text-transform: uppercase;
        padding-top: 3px;
        font-size: 13px;
        &:active {
          border: 1px solid #d6003e;
          color: #d6003e;
        }
      }
      //nav-button-3 ending
    }
    //nav-button ending

    .blog-filter-input {
      float: right;
      input {
        width: 310px;
        height: 35px;
        border: 1px solid;
        letter-spacing: 1px;
        padding-bottom: 1px;

      }
    }
  }









    .post {
      display: block;
      border: 1px solid;
      border-radius: 7px;
      margin: 20px 15px;
      width: 555px;
      height: 310px;
      padding: 0;
      .mainImg {
        max-height: 320px;
        padding: 0;
        float: left;
        margin-right: 15px;

      }
      //mainImg ending
      .post-main-text {
        font-size: 22px;
        letter-spacing: 1px;
        color: #000;
        margin-right: 10px;
        a {
          text-decoration: none;
          color: #000;
        }
      }
      //post-main-text ending
      .post-main-text-sub {
        font-size: 16px;
        letter-spacing: 1px;
        margin-right: 10px;
        color: #747474;
      }
      //post-main-text-sub ending
      .post-main-text-image {
        padding-top: 55px;
        img {
          height: 48px;
          width: 48px;
        }
      }
      //post-main-text-image ending
      .post-main-text-image-poster {
        font-size: 14px;
        color: #000;
        padding-left: 5px;
        letter-spacing: 1px;
      }
      //post-main-text-image-poster ending
      .post-main-text-image-date {
        position: relative;
        bottom: 13px;
        left: 55px;
        font-size: 14px;
        letter-spacing: 1px;
        color: #747474;
      }
      //post-main-image-date ending
    }
    //post ending
    .show-more {
      padding-top: 60px;
      padding-bottom: 140px;
      text-align: center;
      a {
        display: inline-block;
        border: 1px solid #d6003e;
        border-radius: 5px;
        font-size: 20px;
        text-decoration: none;
        color: #d6003e;
        padding: 14px 30px 10px 30px;
        font-weight: 500;
        letter-spacing: 1px;
        -webkit-transition: 0.35s;
        -o-transition: 0.35s;
        transition: 0.35s;
      }
      //a ending
      a:hover {
        background-color: #d6003e;
        color: #fff;
        -webkit-transition: 0.35s;
        -o-transition: 0.35s;
        transition: 0.35s;
      }
    }
    //show-more ending
  }
  //container ending
}
//blog ending