
#card {

    .container {
        .row {
            .left-box {
                .slick-slider {
                    .slick-list {
                        .slick-slide {
                            .img-box {
                                position: relative;
                                border: 1px solid orange;
                                max-width: 466px;
                                max-height: 600px;
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                        // slick-slide end
                    }
                    // slick-list end
                }
                // slick-slider end
                .slider-nav {
                    .slick-list {
                        .slick-slide {
                            .img-box {
                                position: relative;
                                border: 1px solid orange;
                                max-width: 100px;
                                max-height: 132px;
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                        // slick-slide end
                    }
                    // slick-list end
                }
            }
            // left-box end
        }
        // row end
    }
    // container end
}