
#filter {
    .container {
        .row {
            .nav-filter {
                text-align: center;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    li {
                        margin: 0;
                        padding: 0;
                        display: inline-block;
                        a {
                            text-decoration: none;
                            text-transform: uppercase;
                        }
                    }
                }
            }
            // nav-filter end

            .left-filter {
                border: 1px solid red;


                .left-filter-wrap {

                    #filterScrollbar1,
                    #filterScrollbar2,
                    #filterScrollbar3,
                    #filterScrollbar4,
                    #filterScrollbar5,
                    #filterScrollbar6 {
                        width: 100%;
                        display: inline-block;
                        margin: 0;
                        padding: 0;
                        #secScrollbar1,
                        #secScrollbar2,
                        #secScrollbar3,
                        #secScrollbar4,
                        #secScrollbar5,
                        #secScrollbar6 {
                            margin: 0;
                            padding: 0;
                            background-color: #fff;
                            overflow: hidden;
                            #content1,
                            #content2,
                            #content3,
                            #content4,
                            #content5,
                            #content6 {
                                margin: 0;
                                padding: 0;
                                max-width: 100%;
                                background: #fff;
                                height: 230px;
                                overflow: auto;
                                ul {
                                    list-style-type: none;
                                    margin: 0;
                                    padding: 0;
                                    li {
                                        margin: 0;
                                        padding: 0;
                                    }
                                }
                            }
                            // #content end
                        }
                        // #secScrollbar end
                    }
                    // #filterScrollbar end

                }
                // left-filter-wrap end

                .filter7 {
                   #page1 {
                       position: inherit;
                       min-height: 10px!important;
                   }
                }
            }
            // left-filter end

            .right-cart {
                border: 1px solid green;
                min-height: 500px;
                .row {
                    .products-wrap {
                        .thumbnail {
                            .img-wrap {
                                max-height: 300px;
                                overflow: hidden;
                                position: relative;
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                                .img-wrap-hover {
                                    -webkit-transition: 0.35s;
                                    -moz-transition: 0.35s;
                                    -o-transition: 0.35s;
                                    transition: 0.35s;
                                    opacity: 0;
                                    color: #000;
                                    width: 100%;
                                    min-height: 100px;
                                    text-align: center;
                                    position: absolute;
                                    top: 220px;
                                    background: #fff;
                                    .size {
                                        margin: 10px auto;
                                        span {
                                            text-transform: uppercase;
                                            color: #000;
                                        }
                                    }
                                    // size end
                                    .btn-shop {
                                        text-align: center;
                                        a {
                                            text-decoration: none;
                                            text-transform: uppercase;
                                            color: #BB0043;
                                            border: 1px solid #BB0043;
                                            padding: 10px;
                                        }
                                    }
                                }
                                // img-wrap-hover end
                            }
                            // img-wrap end
                            .caption {
                                h3 {
                                    text-transform: uppercase;
                                    font-size: 12px;
                                    margin: 0;
                                }
                                .eshop {
                                    color: #757575;
                                }
                                // eshop end
                                .price {
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                    align-items: center;
                                    -webkit-box-pack: justify;
                                    -ms-flex-pack: justify;
                                    justify-content: space-between;
                                    span:nth-child(1) {
                                        color: #000;
                                    }
                                    span:nth-child(2) {
                                        color: #757575;
                                    }
                                    span:nth-child(3) {
                                        img {
                                            width: 27px;
                                        }
                                    }
                                }
                                // price end
                            }
                            // caption end
                            &:hover {
                                .img-wrap {
                                    .img-wrap-hover {
                                        -webkit-transition: 0.35s;
                                        -moz-transition: 0.35s;
                                        -o-transition: 0.35s;
                                        transition: 0.35s;
                                        opacity: .8;
                                    }
                                }
                            }
                        }
                        // thumbnail end
                    }
                    // products-wrap end
                }
            }
            // right-cart end
        }
        // row end
    }
    // container end
}