// Bootstrap library.
@import 'bootstrap';
@import 'filter';
@import 'card';
@import 'blog';

* {
  outline: none;
}

header {
  border-bottom: 1px solid #000000;
  .container {
    .row {
      > div {
        height: 228px;
        display: flex;
        align-items: center;
        &.logo {
          a {
            margin: 0 auto;
          }
        }
        &:last-child {
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-end;
          > div {
              a{
                position: relative;
                display: inline-block;
                span{
                    display: block;
                    position: absolute;
                    height: 18px;
                    width: 18px;
                    font-size: 9px;
                    background: #d6003e;
                    color: #fff;
                    bottom: -5px;
                    right: -6px;
                    text-align: center;
                    border-radius: 50%;
                    padding: 3px;
                }
                img {
                    width: 27px;
                }
                  .marg {
                      margin: 0 22px;
                  }

            }
            select {
              border: 0;
              background: transparent;
              text-transform: uppercase;
            }
            button {
              background: transparent;
              border: 1px solid #d6003e;
              border-radius: 4px;
              text-transform: uppercase;
              padding: 8px 13px;
              color: #d6003e;
                img {
                    width: 27px;
                    margin: 0 8px 0 0;
                }
            }
          }
            .leng {
                position: relative;
            }
            .leng::after {
                content: '';
                position: absolute;
                left: 28px;
                bottom: -3px;
                border: 6px solid transparent;
                border-top: 10px solid #000;
            }
        }
      }
    }
  }
  .menu-button {
    background: transparent;
    border: 0;
    position: relative;
    .burger {
      position: relative;
      float: left;
      margin-right: 15px;
      padding: 15px 12px;
      margin-top: 0;
      margin-bottom: 0;
      background-color: #d6003e;
      background-image: none;
      border: 1px solid #d6003e;
      border-radius: 4px;
      z-index: 1;
      .icon-bar {
        display: block;
        width: 22px;
        height: 1px;
        border-radius: 1px;
        background-color: #fff;
        & + .icon-bar {
          margin-top: 5px;
        }
      }
      & + div {
        float: right;
        padding: 9px 18px;
        line-height: 25px;
        position: relative;
        left: -20px;
        border: 1px solid #000;
        border-radius: 4px;
        text-transform: uppercase;
      }
    }
      .burger-active {
          z-index: 999;
          background: #fff;
          border: none;
          position: fixed;
          left: 34%;
          top: 23%;
          .line-top {
              -moz-transform: rotate(45deg); /* Для Firefox */
              -ms-transform: rotate(45deg); /* Для IE */
              -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
              -o-transform: rotate(45deg); /* Для Opera */
              transform: rotate(45deg);

              position: absolute;
              top: 20px;
              background-color: #000;

              -webkit-transition: all .35s;
              -moz-transition: all .35s;
              -o-transition: all .35s;
              transition: all .35s;
          }
          .line-midle {
              display: none;

              -webkit-transition: all .35s;
              -moz-transition: all .35s;
              -o-transition: all .35s;
              transition: all .35s;
          }
          .line-bottom {
              -moz-transform: rotate(-45deg); /* Для Firefox */
              -ms-transform: rotate(-45deg); /* Для IE */
              -webkit-transform: rotate(-45deg); /* Для Safari, Chrome, iOS */
              -o-transform: rotate(-45deg); /* Для Opera */
              transform: rotate(-45deg);
              background-color: #000;

              -webkit-transition: all .35s;
              -moz-transition: all .35s;
              -o-transition: all .35s;
              transition: all .35s;
          }


      }
      // burger-active end

  }
}

.menu-hide {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    width: 0;
    height: 100vh;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0;
    ul {
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
        opacity: 0;
        list-style-type: none;
        padding: 0;
        display: none;
        position: fixed;
        margin: 30vh 0 0 18%;
        li {
            margin: 0;
            padding: 0;
            a {
                text-decoration: none;
                color: #000;
                display: block;
                line-height: 64px;
                font-size: 23px;
                font-weight: 300;
            }
        }
    }
}

.menu-visible {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    min-width: 360px;
    width: 40%;
    height: 100%;
    opacity: 1;
    ul {
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
        opacity: 1;
        list-style-type: none;
        padding: 0;
        display: inherit;
        position: fixed;
        margin: 30vh 0 0 18%;
        li {
            margin: 0;
            padding: 0;
            a {
                text-decoration: none;
                color: #000;
                display: block;
                line-height: 64px;
                font-size: 23px;
                font-weight: 300;
            }
        }
    }
}

.main-menu {
  border-bottom: 1px solid #000;
  ul {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
    li {
      display: list-item;
      padding: 5px 10px;
      color:white;
      margin: 0 3px;
      a{
        text-decoration: none;
        color: #000;
        font-weight: bold;
        display: block;
        line-height: 64px;
          font-size: 22px;
      }
    }
  }
}

#about{
  .circle{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.3);
    display: block;
    position: relative;
    img{
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

footer {
  border-top: 1px solid #000;
  .container {
      margin: 50px auto 0 auto;
      .row {
          .menu {
              .footer-box {
                  width: 60%;
                  float: right;
                  h2 {
                      font-size: 27px;
                      text-transform: uppercase;
                  }
                  ul {
                      margin: 0;
                      padding: 0;
                      li {
                          list-style: none;
                          a {
                              text-decoration: none;
                              color: #000;
                              font-size: 22px;
                              font-weight: 300;
                          }
                      }
                  }
              }
              // footer-box end
              &:nth-child(2) {
                  .footer-box {
                      float: none;
                      margin: 0 auto;
                  }
              }
              &:nth-child(3) {
                  .footer-box {
                      float: left;
                  }
              }
          }
          // menu end
      }
      .footer-love {
          margin-top: 70px;
          h2 {
              font-size: 27px;
              color: #000;
              text-transform: uppercase;
              margin-bottom: 6px;
          }
          span {
              font-size: 22px;
              color: #000;
          }
      }
      // footer-love end

  }

    .copy {
        margin: -40px auto 0 auto ;
        .row {
            .social{
                border-bottom: 1px solid #000;
                position: relative;
                margin-bottom: 26px;
                >div{
                    display: table;
                    margin: 0 auto;
                    position: relative;
                    top: 34px;
                    a{
                        display: inline-block;
                        padding: 20px 12px;
                        background: #fff;
                    }
                }

            }
            // social end
            .copy-copy {
                font-size: 14px;
            }
        }
    }
    // copy end
}
// footer end